<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>New </h1>
   
      Cancel
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="#">
      <input type="hidden" name="id" value=""/>

      
          <div data-role="fieldcontain">
            <label >Id</label>
            <input type="number" id="log" value=""/>
            
            <textarea rows="4" cols="50">
            At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies. 
            </textarea>
          </div>
      
          
      

      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
